#canvas-frame {
  width: 640px;
  height: 640px;
  float: left;
}

#web-canvas {
  display: inline-block;
  width: 640px;
  height: 640px;
}

#dashboard {
  width: 500px;
  height: 640px;
  display: inline-block;
  margin-left: 20px;
}

.bordered {
  border: 1px solid #000000;
  border-radius: 5px;
}

.panel {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.purple {
  background-color: #A990D4;
}

.hidden {
  display: none;
}
